
body {
    color: black
}

.odd {
    /* CSS styles */
    background-color: lightpink;
    font-family: "Verdana", "DejaVu Sans", sans-serif; /* font list with fallback */
}

#two {
    /* CSS styles */
    color: blue;
    font-size: 36px;
  }


.adjust-font-size{
    font-size: 24px;
}

 #four {
    /* CSS styles */
    background-color: lightgreen;
    font-weight: bold;
    font-size: 24px;
  }